@model ProductDetailViewModel
@{
    ViewData["Title"] = "Admin Home Page";
    ViewData["Description"] = "Admin Home Page";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="padding">
 
    <div class="box">
        <div class="box-header">
            <h2>Kategori Ekle</h2>
            <small>Yeni bir kategori eklemek için bu alanı kullanın. Eklemek istediğiniz kategoriyi yazarak ekle buyonuna basınız. Bu alanda eklene kategoriler ürünler kısmındaki menü çubuğuna otomatik eklenir.</small>
        </div>
        <div class="box-divider m-0"></div>
        <div class="box-body p-v-md">
            <form asp-action="CategoryAdd">
            <div class="row row-sm">
                <div class="col-xs-3">
                    <input asp-for="Category.Name" type="text" class="form-control" placeholder="Kategori İsmi">
                </div>
                <div class="col-xs-3">
                    <button type="submit">Ekle</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <h2>Kategori Sil</h2>
            <small>Aşağıda Açılır butonda şeçilen kategoriyi siler.(Silme işleminin gerçekleşmesi için kategoriye ait hiç bir ürün olmamalıdır yoksa işlem gerçekleşmez)</small>
        </div>
        <div class="box-divider m-0"></div>
        <div class="box-body p-v-md">
            <div class="row row-sm">
                <div class="col-xs-3">
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                            Category Sil
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var item in Model.Categories)
                            {
                                <li><a asp-action="CategoryDelete" asp-route-id="@item.Id">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <h2>Ürünler</h2>
            <small>Ürünleri Düzenlemek İçin Üstüne tıklaya bilirsiniz.</small>
            <small>Ürünlerin Yayınlanmasını Değiştirmek için aktif kısmına tıkayın.</small>
        </div>
        <div class="box-body">
            Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r" />
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th>
                            Ürün Adı
                        </th>
                        <th>
                            Başlık
                        </th>
                        <th>
                            Kategori
                        </th>
                        <th>
                            Aktif
                        </th>
                        <th>
                            Düzenle
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td><a asp-controller="Admin" asp-action="ProductChange" asp-route-id="@item.Id">@item.Name</a></td>
                            <td>@item.Title</td>
                            <td>@item.Category.Name</td>
                            @if (item.Active == true)
                            {
                                <td data-value="1"><span class="label success" title="Active"><a asp-action="ProductActiveChange" asp-route-id="@item.Id">Aktif</a></span></td>
                            }else
                            {
                                <td data-value="1"><span class="label danger" title="Active"><a asp-action="ProductActiveChange" asp-route-id="@item.Id">Aktif Değil</a></span></td>
                            }
                            <td>
                                <a type="button" class="btn btn-primary btn-sm" asp-action="ProductChange" asp-route-id="@item.Id"><span class="fa fa-pencil"></span></a>
                                <a type="button" class="btn btn-warning btn-sm" asp-action="FileUpdate" asp-route-id="@item.Id"><span class="fa fa-picture-o"></span></a>
                                <a type="button" class="btn btn-danger btn-sm" asp-action="ProductDelete" asp-route-id="@item.Id"><span class="fa fa-remove"></span></a>
                            </td>
                        </tr>
                    }

                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="5" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>